<section class="col-md-9">
	<H1>Add a Capstoner!</H1>
    <form role="form">
    	<div class="form-group">
			<label for="playerName">Name:</label>
			<input type="text" ng-model="player.name" required/> 
        </div>
        <div class="form-group">
			<label for="playerPosition">Position: </label>
			<select ng-model="player.position" ng-options="position for position in positions" required></select>
        </div>
        <div class="form-group">
        	<label for="playerImage">Image: </label>
        	<input type="url" ng-model="player.picture"/>
      	</div>     	
		<button type="submit" class="btn btn-default" button ng-click="add(player)" ng-disabled="form.$invalid">Add!</button>
    </form>
</section>