<section id="player-section">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <h3>Name: {{player.name}}</h3>
        <h3>Position: {{player.position}}</h3>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="http://image.shutterstock.com/display_pic_with_logo/829600/829600,1322763013,15/stock-photo-football-player-89939110.jpg">
    </div>

</section>