<body>
		<section class="col-md-9">
			<h1>MTU Capstoners</h1>
			<table class="table table-striped table-hover">
				<tr>
					<th>Name</th>
					<th>Position</th>
				</tr>
				<tr ng-repeat="player in players" ng-click="getPlayer(player.id)">
					<td>{{player.name}}</td>
					<td>{{player.position}}</td>
				</tr>
			</table>
		</section>
	</nav>
</body>

